body {
    background-image: url("../images/background/pop.jpg");
    background-repeat: no-repeat;
    background-color: #fffbf2;
    background-size: 100%;
    margin-bottom: 50%;

}

.container {
    margin-top: 50px;
    text-align: center;
    font-family: fantasy;
    background: #ff197b;
}

.row {
    border: solid thick #ff197b;
    padding: 10px;
    background-color: #fffbf2;
}

.pinkboy {
    background: #ff197b;
    border: solid thick #1ec9f7;
}

.blue-boy {
    background-color: #1ec9f7;
}

.q-car {
    background-color: #fcf505;
}

h1,
.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.countdown {
    background-color: #1ec9f7;
    color: #fffbf2;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.list-group-item:hover {
    background: #1ec9f7;
}

/* .trivia-area {
    background: #ff197b;
    background-color: #fffbf2;
} */