body {
    background-image: url("../images/background/pop.jpg");
    background-repeat: no-repeat;
    background-color: #fffbf2;
    background-size: 100%;
    margin-bottom: 50%;

}

.container {
    margin-top: 400px;
    margin-left: 70px;
    width: 350px;
    text-align: center;
    background-color: #fffbf2;
    border: solid thick #1ec9f7;
    font-family: fantasy;
}

.row {
    border: solid thin midnightblue;
    padding: 10px;
    background-color: #fffbf2;
}

.pinkboy {
    background: #ff197b;
}